main{
    background-color: #F9F4E3;
    min-height: 65vh;

}

#buttons button{
    padding: 8px 16px;
    border-radius: 15px;
    font-size: 1.2rem;
}


#buttons {
    display: flex;
    flex-direction: column;
    margin-top:20px;
    text-align: center;
}